@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.heading-1{
    animation: slideInLeft 4s ease-in;
    transform: translateX(0);
    color: rgb(56, 28, 36);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    background-color: rgb(144, 58, 69);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 19px;
    cursor: pointer;

    transition: transform 0.3s, background-color 0.3s,color 0.3s;
}
.btn:hover {
    background-color: rgb(120, 48, 58);
    transform: translateY(-10px);
}
body {
    background-color: rgb(190, 176, 155);
}