body {
    background-color: rgb(233, 217, 194);
}
.logo {
    display: block;
    margin: 20px auto;
    height: 100px;
    width: 120px;
    align-self: center;
}
.submit{
    background-color: rgb(144, 58, 69);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    text-align: center;


    transition: transform 0.3s, background-color 0.3s,color 0.3s;
}
.submit:hover {
    background-color: rgb(120, 48, 58);
}